/* importar bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

.fondo{
    background-color: hsla(327, 100%, 50%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1111 1111' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at 0% 99%, hsla(11, 100%, 50%, 1) 0%, transparent 67%), radial-gradient(circle at 46% 94%, hsla(327, 100%, 50%, 1) 0%, transparent 81%), radial-gradient(circle at 93% 95%, hsla(236, 100%, 23%, 1) 0%, transparent 66%), radial-gradient(circle at 89% 8%, hsla(206, 100%, 9%, 1) 0%, transparent 150%);
    background-blend-mode: overlay, normal, normal, normal, normal;
}

.wrap{
    width: 1100px;
    height:auto;
    background-color:white;
    margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;

}

header {
	width: 1100px;
	height: 100px;
}

/* estilo para quitar la viñeta a las listas */	
.sin_vineta {
	list-style:none;
	}



/* ESTILOS PARA EL MENU DE NAVEGACION */



.menu_horizontal {
	width: 1100px;
	height: 40px;
	background-color: #8e3ead;
	
}


a {
	color: #FFFFFF;
	list-style:none;
	text-decoration: none;/* le quita subrayado al vinculo */
	
}

.menu_horizontal ul li a {
	display: block;
	width: 267px;
	height: 40px;
	background-color: #ffffffda;
	float:left;
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	font-family:"Lilita One";
	text-decoration: none;/* le quita subrayado al vinculo */
	color: #891c9a;


}

.menu_horizontal ul li a :link {
	background-color: #ffffff;
}

.menu_horizontal ul li a:hover {
	background-color:  #6a0e7c;
	color:#ffffff;
	font-weight: bold;
}








.contenido_uno{
	height: auto;
	width: 1100px;
	background-color:white;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}

h1{
    font-family: "Lilita One";
    color: darkviolet;
    font-size: 40px;
    margin: 20px;
  }

  p{
    font-family: "Quicksand";
    font-size: 20px;
    margin: 20px;
  }

.photo {
height: 250px;
width: auto;
float:right;
margin: 20px;
}

.contenido_dos{
	width: 1100px;
	height:auto;
	background-color:white;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}

.proyecto_uno{
	float: right;
	width: 25%;
	height: auto;
}

.contenido_tres{
  height: auto;
	width: 1100px;
	background-color:white;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	float: right;


}

.photos_habilidades{
  height: 250px;
  float: left;
  padding: 10px;
  margin: 10px;

}

.contenido_cuatro{
  height: auto;
	width: 1100px;
	background-color:white;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}

.icon_1{
    float: right;
    color: rgb(226, 43, 174);
    margin: 10px;
}

